<!DOCTYPE html>
<html lang="en">
<div class='ui segment'> 

    <a class='ui blue button' href="/">Home</a>

    <a class='ui blue button' href="/linuxPage">Linux</a>
      
    <a class='ui blue button' href="/pythonPage">Python</a>
      
    <a class='ui blue button' href="/dockerPage">Docker</a>
      
    <a class='ui blue button' href="/awsPage">AWS</a>

    <a class='ui blue button' href="/healthPage">EC2 Health</a>
      
</div>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <center>
    
    <body>
        <h2>Site Status Check</h2>
    </body>
    <form action="/Status" method="POST">
        

    </form>
</head>

